@media screen and (max-width: 499px){
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 100%;
        position: absolute;
    
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    
        transition: transform 0.3s ease;
    }

    .menu {
        display: grid;
        list-style-type: none;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .off-canvas {
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    #restaurant .list-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    #restaurant .list-item {
        grid-template-columns: 1fr;
    }
}